<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			@import(estilos)
			<title>Ipê | Nova Vida TI</title>
		</head>
		<body>
			<div class="main__wrapper">
				@component(sidebar)
				@endcomponent

				<main class="main__content">



					@import(header-internas)

					@component(page-header)

						@slot(page-title)
							Enriquecimentos recentes
						@endslot

						@slot(page-title-buttons)
							<div class="page-header__buttons">
								<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Adicionar</button>
								<button class="btn btn-link d-flex align-items-center text-decoration-none px-1">
									<span class="material-icons icon">
										more_vert
									</span> 
								</button>
							</div>
						@endslot
					@endcomponent



					@attach(main)

			</main>
		</div>
		@import(scripts)
	</body>
</html>
