<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			@import(estilos)
			<title>Ipê | Nova Vida TI</title>
		</head>
		<body>
			<div class="main__wrapper">
				@component(sidebar)
				@endcomponent

				<main class="main__content">

					



					@import(header-internas)

					<div class="content-grid__wrapper">

						<div class="content-grid__content">

					@component(page-header)

						@slot(page-title)
							Enriquecimentos recentes
						@endslot

						@slot(page-title-buttons)
							<div class="page-header__buttons">
								<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Adicionar</button>
								<button class="btn btn-link d-flex align-items-center text-decoration-none px-1">
									<span class="material-icons icon">
										more_vert
									</span> 
								</button>
							</div>
						@endslot
					@endcomponent



					@attach(main)

					<div class="content-grid__sidebar">
							<header class="content-grid__sidebar-header">
									<h4 class="content-grid__sidebar-title">
										Detalhes do enriquecimento
									</h4>
									<button class="btn btn-link">
										<span class="material-symbols-outlined">
											close
											</span>
									</button>
							</header>
							<hr class="h-divider">
							<div class="content-grid__sidebar-body">
								<div class="d-flex align-content-center justify-content-between">
									<p class="mb-0 text-semibold">Nova Vida</p>
									<p class="mb-0"><span class="highlight-primary">123456</span></p>
								</div>
								<hr class="h-divider">

								<div class="list-container">
										<div class="list-key">Usuário</div>
										<div class="list-value"><b>Jorge Bartz</b></div>
										<div class="list-key">Entrada</div>
										<div class="list-value"><b>41.744</b></div>
										<div class="list-key">Saída</div>
										<div class="list-value"><b>1.318</b></div>
										<div class="list-key">Data</div>
										<div class="list-value"><b>18/07</b> às <b>9:33</b></div>
								</div>

							<hr class="h-divider">


							<div class="accordion accordion-flush" id="accordionFlushExample">
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingOne">
										<button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
											informações da campanha
										</button>
									</h2>
									<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body px-0">

											<div class="list-container gap-3">
												<div class="list-key">Campanha</div>
												<div class="list-value"><b class="text-semibold">Central de Marketing</b></div>
												<div class="list-key">Processo</div>
												<div class="list-value"><b class="text-semibold">ENRIQ (2-FIXO 4-MÓVEIS)</b></div>
												<div class="list-key">Layout entrada</div>
												<div class="list-value"><b class="text-semibold">Padrão Nova Vida</b></div>
												<div class="list-key">Layout saída</div>
												<div class="list-value"><b class="text-semibold">Layout 4 celulares e 2 fixos</b></div>
										</div>

										</div>
									</div>
								</div>
								
							</div>

							<hr class="h-divider">



							</div>
							<footer class="content-grid__sidebar-footer"></footer>
					</div>
				</div>

			</div>


			</main>
		</div>
		@import(scripts)
	</body>
</html>
