<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
			@import(estilos)
			<title>@attach(title)</title>
		</head>
		<body>
			@component(sidebar)
			@endcomponent
			<div class="main__wrapper">

				<main class="main__content">

					@attach(main)

					@component(sidebar-detalhes)
					@endcomponent					

				</div>
			</div>
			</main>
		</div>
		@import(scripts)
	</body>
</html>
