<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @import(estilos) 
    <link rel="stylesheet" href="assets/css/login.css">
    <title>Ipê | Nova Vida TI</title>
  </head>
  <body>


<section class="login__wrapper">
    <header class="gap-2 px-4 py-2 login__header d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <div class="login__logo">
            <img src="assets/img/logo-nova-vida-login.png" alt="">
        </div>
        <div class="login__cta">
            <p class="mb-0 mr-3">Ainda não é cliente da Nova Vida?</p>
            <button class="btn btn-outline-primary">
                Clique aqui
            </button>
        </div>
    </header>
  <div class="container py-3 py-lg-5 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card login__form" style="border-radius: 1rem;">
          <div class="p-5 text-center card-body">

            

              <h2 class="mb-2 fw-bold text-uppercase">Entrar</h2>

              <form action="dashboard.html">

              <div class="mb-4 form-outline">
                <input type="email" id="typeEmailX" placeholder="E-mail" class="form-control form-control-lg" />
              </div>

              <div class="mb-4 form-outline">
                <div class="password-wrapper">
                  <input type="password" id="typePasswordX" placeholder="Senha" class="form-control form-control-lg" />
                </div>
              </div>

              <div class="mb-4 form-outline">
                <input type="text" id="cliente" placeholder="Cliente" class="form-control form-control-lg" />
              </div>

              <div class="d-flex align-items-center justify-content-between helper-links">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Lembrar de mim
                    </label>
                </div>              

                <a href="#" class="forgot-password">Esqueci a senha</a>

              </div>




              <button class="mt-4 btn btn-primary btn-lg btn-block btn-submit" type="submit">
                Entrar
                <span class="material-icons">
chevron_right
</span>                
                </button>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="login__footer">
    <p class="text-uppercase">Meu IP 268.115.10.30</p>
    <p>Este site é protegido pelo reCAPTCHA e aplicam-se a <a href="#">Política de Privacidade</a> e os <a href="#">Termos de Serviço</a> do Google.</p>


    <button class="btn btn-outline-primary btn-help">
        <span class="material-icons icon">
          question_mark
        </span>      
    </button>

  </footer>

</section>

  @import(scripts) 
  </body>
</html>
