---
import Notificacoes from "./Notificacoes.astro";
import MenuUsuario from "./MenuUsuario.astro";
import MenuAplicativos from "./MenuAplicativos.astro";
---

<header class="main-header main-header--inner-page">
  <div
    class="main-header__inner container-fluid d-flex justify-content-between"
  >
    <a href="index.html" class="logo">
      <img src="assets/img/logo-nova-vida.png" alt="Nova Vida TI" />
    </a>

    <div class="header__main-area">
      <div class="header__buttons-area">
        <button
          class="btn btn-link text-decoration-none d-flex align-items-center btn-swiper-prev"
          data-slider="prev"
        >
          <span class="material-icons"> arrow_backward</span>
        </button>
        <button
          class="btn btn-link text-decoration-none d-flex align-items-center btn-swiper-next"
          data-slider="next"
        >
          <span class="material-icons"> arrow_forward</span>
        </button>
      </div>
    </div>

    <ul class="gap-2 d-flex align-items-center">
      <li><Notificacoes /></li>
      <li><MenuUsuario /></li>
      <li><MenuAplicativos /></li>
    </ul>
  </div>
</header>
