---
import Layout from "../layouts/Layout.astro";
import AppHeaderInternas from "../components/AppHeaderInternas.astro";
import PageHeader from "../components/PageHeader.astro";
import FiltrosAvancados from "../components/FiltrosAvancados.astro";
import ModalNovoLayout from "../components/ModalNovoLayout.astro";
---

<Layout title="Layouts | Nova Vida Ipe">
  <!--Page header -->
  <AppHeaderInternas />
  <!-- / Page header -->

  <div class="content-grid__wrapper" data-container="content-grid-wrapper">
    <div class="content-grid__content">
      <PageHeader title="Blacklists">
        <div class="page-header__buttons" slot="page-header-buttons">
          <div class="btn-group" role="group">
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalNovaCampanha"
            >
              Nova blacklist
            </button>
          </div>

          <button
            class="btn btn-link d-flex align-items-center text-decoration-none px-1"
          >
            <span class="material-icons icon"> more_vert</span>
          </button>
        </div>
      </PageHeader>

      <div class="content-line__wrapper">
        <div class="row">
          <div class="mb-4 col-12 col-lg-12 mb-lg-0">
            <!-- Filtros Avançados -->
            <FiltrosAvancados />
            <!-- / Filtros Avançados -->

            <div class="content-card">
              <div class="content-card__body">
                <div class="table__wrapper">
                  <table class="table" id="blackListsTbl">
                    <thead>
                      <tr>
                        <th>Nome / campanha</th>
                        <th class="text--center">Contatos</th>
                        <th>Erros</th>
                        <th>Data</th>
                        <th class="text--center">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="text-item">
                            <p class="text-item__title text-primary">
                              Nova Vida
                            </p>
                            <span class="text-item__detail">
                              Todas as campanhas
                            </span>
                          </div>
                        </td>
                        <td>
                          <div class="text-item text--center">109</div>
                        </td>
                        <td>0</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="text-item">
                            <p class="text-item__title text-primary">
                              Teste blacklist
                            </p>
                            <span class="text-item__detail">
                              Homologação novembro
                            </span>
                          </div>
                        </td>
                        <td>
                          <div class="text-item text--center">109</div>
                        </td>
                        <td>0</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="text-item">
                            <p class="text-item__title text-primary">
                              Teste blacklist 1
                            </p>
                            <span class="text-item__detail"> Teste</span>
                          </div>
                        </td>
                        <td>
                          <div class="text-item text--center">109</div>
                        </td>
                        <td>0</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="text-item">
                            <p class="text-item__title text-primary">
                              Nova Vida
                            </p>
                            <span class="text-item__detail">
                              Todas as campanhas
                            </span>
                          </div>
                        </td>
                        <td>
                          <div class="text-item text--center">109</div>
                        </td>
                        <td>0</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="text-item">
                            <p class="text-item__title text-primary">
                              Nova Vida
                            </p>
                            <span class="text-item__detail">
                              Todas as campanhas
                            </span>
                          </div>
                        </td>
                        <td>
                          <div class="text-item text--center">109</div>
                        </td>
                        <td>0</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ModalNovoLayout />
  </div>
</Layout>
