<!-- Modal novo enriquecimento -->
<div
  class="modal fade"
  id="modalNovaCampanha"
  tabindex="-1"
  aria-labelledby="modalNovaCampanhaLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNovaCampanhaLabel">Nova campanha</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row d-flex">
          <div class="col-12">
            <label for="cliente" class="form-label visually-hidden">Nome</label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="cliente"
              placeholder="Nome da campanha"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex gap-3">
        <button type="button" class="btn btn-primary">Ok</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- / Modal Novo enriquecimento -->
