<!-- Sidebar -->
<aside class="sidebar">
  <header class="sidebar__header">
    <a href="index.html">
      <img
        src="assets/img/logo-nova-vida.png"
        alt="Nova Vida - Congonhas"
        class="logo-open"
      />
      <img
        src="assets/img/logo-nova-vida-mini.png"
        alt="Nova Vida - Congonhas"
        class="logo-collapsed"
      />
    </a>
    <button class="btn btn-link menu__toggle" data-toggle-menu="true">
      <span class="material-icons"> menu_open</span>
    </button>
  </header>
  <div class="sidebar__content">
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link" href="index.html">
            <span class="material-icons filled"> bar_chart</span>
            <span class="main-nav__link-text">Indicadores gerais</span>
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="enriquecimentos.html">
            <span class="material-icons filled"> list</span>
            <span class="main-nav__link-text">Enriquecimentos</span>
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="bi.html">
            <span class="material-icons filled"> area_chart</span>
            <span class="main-nav__link-text">B.I.</span>
          </a>
        </li>
        <li>
          <div class="h-divider"></div>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="layouts.html">
            <span class="material-icons filled"> brush</span>
            <span class="main-nav__link-text">Layouts</span>
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#">
            <span class="material-icons filled"> message</span>
            <span class="main-nav__link-text">Mensagens</span>
          </a>
          <div class="submenu">
            <ul>
              <li>
                <a href="campanhas.html" class="main-nav__submenu_link"
                  >Campanhas</a
                >
              </li>
              <li>
                <a href="envios.html" class="main-nav__submenu_link">Envios</a>
              </li>
              <li>
                <a href="blacklists.html" class="main-nav__submenu_link"
                  >Blacklists</a
                >
              </li>
              <li>
                <a href="predefinidas.html" class="main-nav__submenu_link"
                  >Predefinidas</a
                >
              </li>
              <li>
                <a href="contatos.html" class="main-nav__submenu_link"
                  >Contatos</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <!-- // Sidebar -->
</aside>
