---
import Layout from "../layouts/Layout.astro";
import AppHeaderBi from "../components/AppHeaderBi.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="B.I. Pessoa jurídica | Nova Vida Ipe">
  <!--Page header -->
  <AppHeaderBi />
  <!-- / Page header -->

  <div class="content-grid__wrapper" data-container="content-grid-wrapper">
    <div class="content-grid__content">
      <PageHeader>
        <div class="page-header__title">
          <span
            class="material-icons icon highlight-purple"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Pessoa jurídica"
            data-bs-custom-class="custom-tooltip"
          >
            apartment
          </span>
           Mega Brasil
          <span class="material-icons icon highlight-purple">
            keyboard_arrow_right
          </span>
          <b class="text-semibold" id="slideTitle">Dados cadastrais</b>
        </div>

        <div class="page-header__buttons" slot="page-header-buttons">
          <div class="page-header__buttons">
            <a class="btn btn-primary btn-icon" href="bi.html">
              <span class="material-icons icon highlight-purpe">close</span>
            </a>
          </div>
        </div>
      </PageHeader>

      <div class="content-line__wrapper">
        <div class="row">
          <div class="mb-4 col-12 col-lg-12 mb-lg-0">
            <div class="charts-wrapper">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <!-- SLIDE 1 - PESSOA JURÍDICA -->
                  <div class="swiper-slide" data-titulo="Dados cadastrais">
                    <div class="row mb-3">
                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled"
                              >featured_play_list</span
                            >
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Razão social</p>
                            <p class="text-item__detail">43.563.526</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled">tty</span>
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Telefones</p>
                            <p class="text-item__detail">384.605.747</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled">email</span>
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">E-mails</p>
                            <p class="text-item__detail">44.151.254</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled"
                              >history_edu</span
                            >
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Nomes fantasia</p>
                            <p class="text-item__detail">2.069.119</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled"
                              >location_on</span
                            >
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Endereços</p>
                            <p class="text-item__detail">183.713.015</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled"
                              >location_city</span
                            >
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">
                              Empresas domiciliadas
                            </p>
                            <p class="text-item__detail">183.713.015</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-lg-6 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Situação Cadastral</h2>
                          <div
                            id="graficoSituacaoCadastralPJ"
                            class="chart-item"
                          >
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Porte das Empresas</h2>
                          <div id="graficoPorteEmpresas" class="chart-item">
                          </div>
                          <div class="legendas-manuais row">
                            <div class="col-12 text--center">
                              <p><b>Demais:</b> 535.63.452</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Capital Social</h2>
                          <div class="chart-item">
                            <table class="table table-striped tbl-chart">
                              <thead class="thead-dark">
                                <tr>
                                  <th></th>
                                  <th>Qtd.</th>
                                  <th>(%)</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td
                                    ><span class="legend"></span> Acima de 1
                                    milhão</td
                                  >
                                  <td>641.000</td>
                                  <td>1,6%</td>
                                </tr>
                                <tr>
                                  <td
                                    ><span class="legend"></span>De 750 mil a 1
                                    milhão</td
                                  >
                                  <td>641.000</td>
                                  <td>2,0%</td>
                                </tr>
                                <tr>
                                  <td
                                    ><span class="legend"></span>De 500 a 750
                                    mil</td
                                  >
                                  <td>641.000</td>
                                  <td>2,0%</td>
                                </tr>
                                <tr>
                                  <td
                                    ><span class="legend"></span>De 250 a 500
                                    mil</td
                                  >
                                  <td>641.000</td>
                                  <td>4,0%</td>
                                </tr>
                                <tr>
                                  <td
                                    ><span class="legend"></span>De 100 a 250
                                    mil</td
                                  >
                                  <td>641.000</td>
                                  <td>8,0%</td>
                                </tr>
                                <tr>
                                  <td
                                    ><span class="legend"></span>De 50 a 100 mil</td
                                  >
                                  <td>641.000</td>
                                  <td>5,2%</td>
                                </tr>
                                <tr>
                                  <td
                                    ><span class="legend"></span>De 0 a 50 mil</td
                                  >
                                  <td>641.000</td>
                                  <td>86,0%</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Quantidade de Sócios</h2>
                          <div id="graficoQuantidadeSocios" class="chart-item">
                          </div>
                        </div>
                      </div>

                      <div class="col-12 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Natureza Jurídica</h2>
                          <div id="graficoNaturezaJuridica" class="chart-item">
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Tempo de Atividade</h2>
                          <div id="graficoTempoAtividadePj" class="chart-item">
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Empresas Por Região</h2>
                          <div id="graficoEmpresasPorRegiao" class="chart-item">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FIM SLIDE 1 - PESSOA JURÍDICA -->

                  <!-- SLIDE 2 - PESSOA JURÍDICA -->
                  <div class="swiper-slide" data-titulo="Características">
                    <div class="row mb-3">
                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled"
                              >wifi_tethering</span
                            >
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Presença Digital</p>
                            <p class="text-item__detail">43.563.526</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled"
                              >receipt_long</span
                            >
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Simples Nacional</p>
                            <p class="text-item__detail">384.605.747</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled"
                              >money_off_csred</span
                            >
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Com Dívida Ativa</p>
                            <p class="text-item__detail">44.151.254</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled"
                              >photo_size_select_small</span
                            >
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Nichos</p>
                            <p class="text-item__detail">2.069.119</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg mb-2">
                        <div
                          class="content-card d-flex align-items-center gap-2 h-100 data-card small-spacing"
                        >
                          <div class="rounded-icon" color="purple">
                            <span class="material-icons filled">business</span>
                          </div>
                          <div class="text-item">
                            <p class="text-item__title">Empresas Vinculadas</p>
                            <p class="text-item__detail">183.713.015</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">
                            Análise de Potencial Comercial das Regiões
                          </h2>
                          <div
                            id="graficoPotencialRegiaolPJ"
                            class="chart-item"
                          >
                          </div>
                        </div>
                      </div>

                      <div class="col-12 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Merchant Category Code</h2>
                          <div id="graficoMcc" class="chart-item"></div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Personas</h2>
                          <div id="graficoPersonasPj" class="chart-item"></div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Dealer</h2>
                          <div id="graficoDealerPj" class="chart-item"></div>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Empresas por CNAE</h2>
                          <label for="selecionarSecao"
                            >Selecione a categoria</label
                          >
                          <select
                            name=""
                            id="selecionarSecao"
                            class="form-select form-select-secao"
                          >
                            <option value="todos" selected> Todos</option>
                            <option value="secao-a">
                              A - Agricultura, pecuária, produção florestal,
                              pesca e aquicultura
                            </option>
                            <option value="secao-b"
                              >B - Indústrias extrativas</option
                            >
                            <option value="secao-c"
                              >C - Indústrias de transformação</option
                            >
                          </select>

                          <div id="graficoEmpresasPorCnae" class="chart-item">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FIM SLIDE 2 - PESSOA JURÍDICA -->

                  <!-- SLIDE 3 PESSOA FÍSICA-->
                  <div class="swiper-slide" data-titulo="Crédito e risco">
                    <div class="row">
                      <div class="col-12 col-lg-6 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Saúde Tributária</h2>
                          <div id="graficoSaudeTributariaPj" class="chart-item">
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6 mb-4">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Empresas por Faturamento</h2>
                          <div
                            id="graficoEmpresaPorFaturamento"
                            class="chart-item"
                          >
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">
                            Quantidade de Funcionários
                          </h2>
                          <div
                            id="graficoQuantidadeFuncionarios"
                            class="chart-item"
                          >
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">
                        <div class="chart-wrapper">
                          <h2 class="chart-title">Collection Score</h2>
                          <div id="graficoCollectionScorePj" class="chart-item">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FIM SLIDE 3 PESSOA FÍSICA-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fim Content Line -->
    </div>
  </div>
</Layout>
