---
import Layout from "../layouts/Layout.astro";
import AppHeaderInternas from "../components/AppHeaderInternas.astro";
import PageHeader from "../components/PageHeader.astro";
import FiltrosAvancados from "../components/FiltrosAvancados.astro";
import ModalNovoLayout from "../components/ModalNovoLayout.astro";
---

<Layout title="Layouts | Nova Vida Ipe">
  <!--Page header -->
  <AppHeaderInternas />
  <!-- / Page header -->

  <div class="content-grid__wrapper" data-container="content-grid-wrapper">
    <div class="content-grid__content">
      <PageHeader title="Contatos">
        <div class="page-header__buttons" slot="page-header-buttons">
          <div class="btn-group gap-3" role="group">
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalNovaCampanha"
            >
              Novo contato
            </button>

            <button class="btn btn-neutral"> Mensagem unitária</button>
          </div>

          <button
            class="btn btn-link d-flex align-items-center text-decoration-none px-1"
          >
            <span class="material-icons icon"> more_vert</span>
          </button>
        </div>
      </PageHeader>

      <div class="content-line__wrapper">
        <div class="row">
          <div class="mb-4 col-12 col-lg-12 mb-lg-0">
            <!-- Filtros Avançados -->
            <FiltrosAvancados />
            <!-- / Filtros Avançados -->

            <div class="content-card">
              <div class="content-card__body">
                <div class="table__wrapper">
                  <table class="table" id="contatosTbl">
                    <thead>
                      <tr>
                        <th>Contato</th>
                        <th>Data</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> 11 9 7555-6898</td>
                        <td> 05/01/2023</td>
                      </tr>
                      <tr>
                        <td> 11 9 7555-6898</td>
                        <td> 05/01/2023</td>
                      </tr>
                      <tr>
                        <td> 11 9 7555-6898</td>
                        <td> 05/01/2023</td>
                      </tr>
                      <tr>
                        <td> 11 9 7555-6898</td>
                        <td> 05/01/2023</td>
                      </tr>
                      <tr>
                        <td> 11 9 7555-6898</td>
                        <td> 05/01/2023</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ModalNovoLayout />
  </div>
</Layout>
