---
import Layout from "../layouts/Layout.astro";
import AppHeaderInternas from "../components/AppHeaderInternas.astro";
import PageHeader from "../components/PageHeader.astro";
import FiltrosAvancados from "../components/FiltrosAvancados.astro";
import ModalNovoLayout from "../components/ModalNovoLayout.astro";
---

<Layout title="Layouts | Nova Vida Ipe">
  <!--Page header -->
  <AppHeaderInternas />
  <!-- / Page header -->

  <div class="content-grid__wrapper" data-container="content-grid-wrapper">
    <div class="content-grid__content">
      <PageHeader title="Layouts">
        <div class="page-header__buttons" slot="page-header-buttons">
          <div class="btn-group" role="group">
            <button
              id="btnToggleLayouts"
              type="button"
              class="btn btn-primary btn-add-layout dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Adicionar
            </button>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="btnToggleLayouts"
            >
              <button
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#novoLayoutDialog"
              >
                Enriquecimento padrão
              </button>
              <button
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#novoLayoutDialog"
              >
                Enriquecimento distinto
              </button>
              <button
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#novoLayoutDialog"
              >
                Atribuição
              </button>
            </div>
          </div>

          <button
            class="btn btn-link d-flex align-items-center text-decoration-none px-1"
          >
            <span class="material-icons icon"> more_vert</span>
          </button>
        </div>
      </PageHeader>

      <div class="content-line__wrapper">
        <div class="row">
          <div class="mb-4 col-12 col-lg-12 mb-lg-0">
            <!-- Filtros Avançados -->
            <FiltrosAvancados />
            <!-- / Filtros Avançados -->

            <div class="content-card">
              <div class="content-card__body">
                <div class="table__wrapper">
                  <table class="table" id="layoutsTbl">
                    <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th class="text--center">Campos</th>
                        <th>Data</th>
                        <th>&nbsp;</th>
                        <th class="text--center">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span class="material-icons text-purple">
                            person
                          </span>
                        </td>
                        <td>
                          <span class="text-primary">Layout 1</span>
                        </td>
                        <td>
                          <div class="text-item">Gabriel Nogueira</div>
                        </td>
                        <td class="text--center">17</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                        <td class="text--center">
                          <span class="custom-pill" data-type="processed">
                            <span class="material-icons icon"> done</span>
                             Processado
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="material-icons text-purple">
                            apartment
                          </span>
                        </td>
                        <td>
                          <span class="text-primary">Layout 2</span>
                        </td>
                        <td>
                          <div class="text-item">Gabriel Nogueira</div>
                        </td>
                        <td class="text--center">17</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                        <td class="text--center">
                          <span class="custom-pill" data-type="processed">
                            <span class="material-icons icon"> done</span>
                             Processado
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="material-icons text-purple">
                            person
                          </span>
                        </td>
                        <td>
                          <span class="text-primary">Layout 3</span>
                        </td>
                        <td>
                          <div class="text-item">Gabriel Nogueira</div>
                        </td>
                        <td class="text--center">17</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                        <td class="text--center">
                          <span class="custom-pill" data-type="processed">
                            <span class="material-icons icon"> done</span>
                             Processado
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="material-icons text-purple">
                            apartment
                          </span>
                        </td>
                        <td>
                          <span class="text-primary">Layout 4</span>
                        </td>
                        <td>
                          <div class="text-item">Gabriel Nogueira</div>
                        </td>
                        <td class="text--center">17</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                        <td class="text--center">
                          <span class="custom-pill" data-type="processed">
                            <span class="material-icons icon"> done</span>
                             Processado
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="material-icons text-purple">
                            apartment
                          </span>
                        </td>
                        <td>
                          <span class="text-primary">Layout 5</span>
                        </td>
                        <td>
                          <div class="text-item">Gabriel Nogueira</div>
                        </td>
                        <td class="text--center">17</td>
                        <td>
                          <div class="position-relative">05/01/2023</div>
                        </td>
                        <td>
                          <button
                            class="btn btn-link btn-hidden"
                            data-bs-toggle="tooltip"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Baixar exemplo de layout"
                          >
                            <span class="material-icons"> download</span>
                          </button>

                          <button class="btn btn-link btn-hidden">
                            <span class="material-icons"> more_vert</span>
                          </button>
                        </td>
                        <td class="text--center">
                          <span class="custom-pill" data-type="processed">
                            <span class="material-icons icon"> done</span>
                             Processado
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ModalNovoLayout />
  </div>
</Layout>
